<!Doctype HTML>
{% load static %}
<html>
<head>
    <title>Arunkumar</title>
    <link rel="stylesheet" href={% static 'styles/home.css' %}></link>
    <link rel="stylesheet" href={% static 'styles/home_nav.css' %}></link>
    <link rel="stylesheet" href={% static 'styles/home_body.css' %}></link>
    <link rel="stylesheet" href={% static 'styles/home_hang_img.css' %}></link>
    <link rel="stylesheet" href={% static 'styles/loader.css' %}></link>
</head>
<body>
    <div class="loader_block hidden">
            <div></div>
    </div>
    <div class="header-container">
        
        <div class="header-block">
            <div class="text-nav-content">
                <div id="hanging-image">
                    <div id="1">
                    <a href="https://www.linkedin.com/in/arunkumar-e-5535ba1bb/">
                        <img id="linkedin-image" src={% static 'images/linkedin_logo.png' %}/></a>
                    </div><div id="2">
                    <a href="https://github.com/arunkumar27karthi/Arunkumar_Portfolio">
                        <img id="github-image" src={% static 'images/github_logo.png' %} /></a>
                    </div>
                    <div id="1">
                    <a href="https://www.instagram.com/its_ur_friend_arunkumar/">
                        <img id="insta-image" src={% static 'images/insta_logo.png' %} /></a>
                    </div><div id="2">
                    <a href="https://www.facebook.com/profile.php?id=100012664890625">
                        <img id="facebook-image" src={% static 'images/facebook_logo.jpg' %} /></a>
                    </div>
                </div>
                <div id="display-name-block">
                    <div id="name-block">
                        <h6>Hey... i'm</h6>
                        <h1 id="display-name">Web Developer</h1>
                        <p>Fullstack Web Developer</p>
                    </div>
                </div>
            </div>
            <div id="display-image-block">
                <div id="image_block">
                    <img id="display-my-image" src={% static 'images/arunkumar_web_img.jpg' width="400" height="400"%}/>
                </div>
            </div>  
        </div>
    </div>
    <div class="navbar-block">
            <div id="Home"> <a href="">Home</a></div>
            <div id="about"><a href="#about-block">About</a></div>
            <div id="portfolio"><a href="https://arunkumar27karthi.github.io/Arunkumar_Portfolio/">portfolio</a></div>
            <div id="blog1"><a href="https://aruntechnowizard.blogspot.com/">Web Dev Blog</a></div>
            <div id="blog2"><a href="https://arunkumar27karthi.wixsite.com/machinelearningeasy">ML Blog</a></div>
            <div id="projects"><a href="https://arunkumar27karthi.herokuapp.com/">Tic Tac Toe</a></div>
    </div>
    <div class="body-container">
        <div class="body-block" id="about-block">
            <div id="content-block">

                <div id="title"> <div>About</div> </div>
                <div id="image" > 
                    <a href="">
                        <img src={% static 'images/arunkumar_web_img.jpg' %} />
                    </a>
                </div>
                <div id="description"  class="remove"> <div> </div></div>
            </div>
        </div>
        <div class="body-block" id="about-block">
            <div id="content-block">

                <div id="title"> <div>Arun Techno Wizard </div></div>
                <div id="image" > 
                    <a href="https://aruntechnowizard.blogspot.com/" target="_blank">
                        <img src={% static 'images/blogger_arun.png' %} />
                    </a>
                </div>
                <div id="description"  class="remove"> <div> </div></div>
            </div>
        </div>  
        <div class="body-block" id="about-block" >
            <div id="content-block">

                <div id="title"> <div>Tic Tac Toe</div> </div>
                <div id="image" > 
                    <a href="https://arunkumar27karthi.herokuapp.com/" target="_blank">
                        <img src={% static 'images/tictactoe_thumbnail.png' %} />
                    </a>
                </div>
                <div id="description" class="remove" > <div> </div></div>
            </div>
        </div>     
    </div>
    <div class="About">
        <div class="desc-image">
        </div>
        <div class="desc-content">
        </div>
    </div>

    <div class="footer-container">
    </div>
</body>
</html>